ul {
  list-style-type: none;
}

.List {
  display: flex;
  flex-direction: column;
}

.List-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.List-item-controls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.List-item > span {
  display: block;
}

.List-item--last-item {
  font-weight: bold;
}

button {
  cursor: pointer;
}
